body{
    background-color: BlanchedAlmond;
}

h1{
    font-size: 500%;
    color: MediumPurple;
	text-align: center;
}


p{
    font-size: 200%;
    color: DarkBlue;
}

#p1{
	text-align: center;
}

#firstQuestion{
	position: absolute;
	top: 40%; 
	left: 9%;
	text-align: center;
}

#secondQuestion{
	position: absolute;
	top: 40%; 
	right: 38%;
	text-align: center;
}

#thirdQuestion{
	position: absolute;
	top: 40%;
	right: 2%;
	text-align: center;

}

button{
	background: white;
}

button:hover{
	background: lightgrey;
}

button:active{
	background: grey;
}

