body{
    background-color: BlanchedAlmond;
}

h1{
    font-size: 500%;
    color: MediumPurple;
	text-align: center;
}


p{
    font-size: 160%;
    color: DarkBlue;
}

#p1{
	text-align: center;
}

div {
	float: left; 
/* 	padding: 5%; */
	margin: 6%;
}

#firstQuestion{
	text-align: center;
}

#secondQuestion{
	text-align: center;
}

#thirdQuestion{
	text-align: center;

}

button{
	background: white;
}

button:hover{
	background: lightgrey;
}

button:active{
	background: grey;
}

#flag{
display: block;
float: left;
/* margin: center; */
border: 3px inset black;
width: 15%;
}

#flag2{
display: block;
float: right;
/* margin: right; */
border: 3px inset black;
width: 15%;
}

#flag:hover{
animation-name: flag;
animation-duration: 8s;
}

 
 @keyframes flag {
 	0% {transform: rotate(0deg);}
 	12% {transform: rotate(45deg);}
 	24% {transform: rotate(90deg);}
 	37% {transform: rotate(135deg);}
 	50% {transform: rotate(180deg);}
 	62% {transform: rotate(225deg);}
 	75% {transform: rotate(270deg);}
 	85% {transform: rotate(315deg);}
 	100% {transform: rotate(360deg);}




 }


